*.cc.x
.deps
.dirstamp
.libs
*.go
*.la
*.lo
*.o
*~
*.1
/aclocal.m4
/autom4te.cache/*
/build-aux/*
!/build-aux/ax_boost_base.m4
!/build-aux/config.rpath
!/build-aux/git-version-gen
!/build-aux/gitlog-to-changelog
!/build-aux/std-gnu11.m4
!/build-aux/guile.am
!/build-aux/pre-inst-env.in
/m4
/bin/dzn
/config.log
/config.status
/configure
/dzn/config.scm
/pre-inst-env
/runtime/c++03/dzn/meta.hh
/runtime/c++-msvc11/dzn/meta.hh
/runtime/c++/dzn/meta.hh
/libtool
Makefile
Makefile.in
/bin/lts2traces
/test-suite.log
/test/dzn/*.log
/test/dzn/*.trs
