*.cc.x
.deps
.dirstamp
.libs
*.go
*.la
*.lo
*.o
*~
/aclocal.m4
/autom4te.cache/*
/build-aux/*
!/build-aux/config.rpath
!/build-aux/git-version-gen
!/build-aux/gitlog-to-changelog
!/build-aux/guile.am
!/build-aux/pre-inst-env.in
/m4
/bin/dzn
/bin/gdzn
/config.log
/config.status
/configure
/gaiag/config.scm
/pre-inst-env
/bin/dezyne
Makefile
Makefile.in
/bin/lts2traces
