# Dezyne --- Dezyne command line tools
#
# Copyright © 2019, 2020, 2021 Jan (janneke) Nieuwenhuizen <janneke@gnu.org>
# Copyright © 2020, 2021 Rutger van Beusekom <rutger@dezyne.org>
#
# This file is part of Dezyne.
#
# Dezyne is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Dezyne is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public
# License along with Dezyne.  If not, see <http://www.gnu.org/licenses/>.

*.cc.x
.deps
.dirstamp
.libs
*.go
*.la
*.lo
*.o
*~
/doc/*.1
/aclocal.m4
/autom4te.cache/*
/build-aux/*
!/build-aux/ax_boost_base.m4
!/build-aux/config.rpath
!/build-aux/git-version-gen
!/build-aux/gitlog-to-changelog
!/build-aux/std-gnu11.m4
!/build-aux/guile.am
!/build-aux/pre-inst-env.in
stamp-h[0-9]
stamp-vti
/m4
/bin/dzn
/config.log
/config.status
/configure
/doc/dezyne.info
/doc/dezyne.pdf
/doc/html/
/doc/stamp-1
/doc/version.texi
/dzn/config.scm
/pre-inst-env
/runtime/c++/dzn/meta.hh
/libtool
Makefile
Makefile.in
/test-suite.log
/test/dzn/*.log
/test/dzn/*.trs
/test/all/*.log
/test/all/*.trs
/test/all/*.err
/test/all/*.out
/test/all/*/out/
/test/all/undefined/*.log
/test/all/undefined/*.trs
/test/all/undefined/*.err
/test/all/undefined/*.out
/test/all/undefined/component/*.log
/test/all/undefined/component/*.trs
/test/all/undefined/component/*.err
/test/all/undefined/component/*.out
/test/all/undefined/interface/*.log
/test/all/undefined/interface/*.trs
/test/all/undefined/interface/*.err
/test/all/undefined/interface/*.out
/test/bin/reorder
/test/bin/run
/test/bin/run-baseline
/test/all/parse_preprocessed_foo/parse_preprocessed_foo.dzn
/test/all/parse_preprocessed_imported_bar/parse_preprocessed_imported_bar.dzn
/test/all/parse_preprocessed_imported_baz/parse_preprocessed_imported_baz.dzn
