Source: dzn
Section: devel
Priority: optional
Maintainer: Jan (janneke) Nieuwenhuizen <janneke@gnu.org>
Build-Depends: debhelper-compat (=12),
 guile-0.0,
 guile-3.0-dev,
 guile-json,
 help2man,
 install-info,
 texinfo,
Standards-Version: 4.4.0
Homepage: https://verum.com

Package: dzn
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
 guile-3.0,
Description: Dezyne command line tools
 Dezyne command line tools.
